.hero-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
    overflow: hidden;
    pointer-events: auto;
    opacity: 0.4;
}

.grid-item {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    margin: auto;
    transition: background-color 0.2s;
}